.vscode/
.venv/
build/

# CMake/build
/build/
cmake-build-*/
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
compile_commands.json

# binaries
*.o
*.a
*.so

# recordings / generated outputs
*.raw

# editor
.vscode/
.idea/

# temporary
*.log
*~
.DS_Store

/data/